@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

$font-1: 'Istok Web', sans-serif;
$font-2: 'Overpass', sans-serif;
$font-3: 'Yanone Kaffeesatz', sans-serif;

$color-1: #2fa5ff;
$color-1-alt: #0091ff;
$color-2: #00c3ff;
$color-3: #00162c;
$color-4: #92beff;
$color-5: #989898;
$black: rgb(40, 40, 40);
$white: rgba(244, 244, 244, 0.816);
$shadow: rgb(190, 218, 192);

* {
  font-family: $font-2;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .5s ease-in-out;
  &::selection {
    background: $color-1;
    color: $white;
  }
}
body {
  height: 100vh;
  #root {
    height: 100%;
  }
}

.fill-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center-Form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.post-Form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profilPicture{
  width: 40px;
  height: 40px;
}

.NavBar{
  -webkit-box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.27);
    background: $color-1-alt;
    z-index: 999;
    position: fixed;
    top: 0;
  .LogoNav{
    font-size: 2.0rem;
  }
}

