
.allPost {
  gap: 50px;
  .card {
    width: 1000px;
    position: relative;
    min-height: 850px;
    background: #fff;
    border: none;
    border-radius: initial;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.25);
    padding: 20px;
    @media screen and(max-width: 1050px){
          min-height: 650px;
          width: 600px;
         }
    @media screen and(max-width: 650px){
          min-height: 550px;
          width: 350px;
         }
    @media screen and(max-width: 280px){
          min-height: 450px;
          width: 250px;
         }

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .userDetails {
        display: flex;
        align-items: center;
        .profile_img {
          position: relative;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 8px;
          .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          font-size: 15px;
          color: #4d4d4f;
          font-weight: 500;
          line-height: 1em;
          margin-bottom: 0;

          span {
            font-size: 0.75rem;
          }
        }
      }
      .dot {
        transform: scale(0.6);
        cursor: pointer;
      }
    }
    .imgBx {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      .cover {
        position: relative;
        border-radius: 20px;
        width: 100%;
        min-height: 300px;
        object-fit: cover;
        margin-bottom: 1rem;
        @media screen and(max-width: 1050px){
          min-height: 200px;
         }
        @media screen and(max-width: 650px){
          min-height: 100px;
         }
        @media screen and(max-width: 280px){
          min-height: 90px;
         }
      }
    }
    .actionBtns {
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        max-width: 24px;
        cursor: pointer;
      }

      .left {
        img {
          margin-right: 8px;
        }
      }
    }
    .likes {
      font-size: 16px;
      font-weight: 600;
      margin-top: 5px;
      color: #4d4d4f;
    }
    .message {
      font-size: 16px;
      font-weight: 400;
      margin-top: 5px;
      color: #777;
      line-height: 1.5rem;

      b {
        color: $black;
      }
    }
    .comments {
      font-size: 16px;
      margin-top: 10px;
      font-weight: 400;
      color: #999;
    }
    .addComments {
        display: flex;
        align-items: center;
        margin-top: 10px;
      .userImg {
        position: relative;
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 8px;
        .cover {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
      }
      .text{
        width: 100%;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        color: #262626;

        &::placeholder{
            color: rgb(183, 183, 183);
        }
      }
    }
    .postTime{
      margin-top: 10px;
      font-size: 12px;
      font-weight: 500;
      color: #777;
  
    }
  }
}
